{% extends 'master.html' %}

{% block content %}
<main class="h-full pb-16 overflow-y-auto">
    <!-- Remove everything INSIDE this div to a really blank page -->
    <div class="container px-6 mx-auto grid">
      <h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        La pollution de l'air est d'après l'ONU l'une des premières causes de pathologies et décès dans le monde et a un impact 
        encore plus important dans les pays africains où malheureusement très peu d'actions sont menées pour l'atténuer. <br> <br>
        
        Fort de ce constat, data354 a lancé <strong> le projet AQ54 &#8249 Air Quality 54 &#8250</strong> dont l'objectif est de déployer
        un réseau de capteurs dans la ville afin de mesurer différents indicateurs de la qualité de l'air à Abidjan et de les rendre
        accessibles à tous (citoyens, décideurs, acteurs économiques, ...). <br> <br>

        Pour mener à bien ce projet, nous disposons des capteurs AirQino qui ont été installés en zone urbaine dans le but de 
        collecter des données de la qualité de l'air.

      </h2>
    </div>
</main>
{% endblock content %}